{% load static %}

{% with request.resolver_match.url_name as url_name %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{%  static 'css/uikit.min.css' %}">
  <link rel="stylesheet" href="{%  static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{%  static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{%  static 'css/style.css' %}">
  <link rel="stylesheet" href="{%  static 'css/.css' %}">

  <title> Feni Digital Seba |{{ url_name }}</title>
  <style media="screen">
    .navbar ul li a{
      color: white !important;
    }
    .navbar ul li:hover a{
      color: gray !important;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-text-dark bg-dark  navbar-expand-sm fixed-top">
  <div class="container">
    <a class="{% if url_name == 'home' %}active{% else %}navbar-brand {% endif %} " href="{% url 'home' %}">
    <img src="{%  static 'img/d.jpg' %}" class="img-fluid" width="50" height="50" alt="">
    <h3 class="d-inline align-middle"> ডিজিটাল সেবা </h3>
    </a>
    <button class="navbar-toggler navbar-toggler-right"  type="button" data-toggle="collapse" data-target="#imam"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="imam">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">হোম পেজ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shirt' %}">শার্ট</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pant' %}">প্যান্ট</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 't_shirt' %}">টি-শার্ট</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'panjabi' %}">পাঞ্জাবি</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'nitto' %}">নিত্য প্রয়োজনীয়ি</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gift' %}">উপহার</a>
        </li>

      </ul>
    </div>
  </div>
</nav>




<!--carousel slider-->
{% block body %}{% endblock %}
<!----------footer-------->
<div id="footer">
  <div class="container">
    <div class="row mt-5 pt-3">
      <div class="col-md-3">
        <h3>Useful links</h3>
      <div class="mt-auto">
        <p>Privacy policy</p>
        <p>Terms of use</p>
        <p>Return policy</p>
        <p>Discount Coupans</p>
      </div>
      </div>
      <div class="col-md-3">
        <h3>Company</h3>
        <p>About Us</p>
        <p>contact us</p>
        <p>career</p>
        <p>affiliate</p>
      </div>
      <div class="col-md-3">
        <h3>Follow us on</h3>
        <p><i class="fa fa-facebook-official"></i> Facebook</p>
        <p><i class="fa fa-youtube-play"></i> YouTube</p>
        <p><i class="fa fa-linkedin"></i> Linkdin</p>
        <p><i class="fa fa-twitter"></i> Twitter</p>
      </div>
      <div class="col-md-3">
        <h3>Download App</h3>
        <div class="footer-img">
          <a href="#">
            <img src="{%  static 'img/play.png' %}">
          </a>
        </div>
      </div>
    </div>
    <hr>
    <p class="copyright">Developed by <i class="fa fa-heart-o"></i>Team IceCream</p>
  </div>
</div>







  <script src="{%  static 'js/jquery.min.js' %}"></script>
  <script src="{%  static 'js/popper.min.js' %}"></script>
  <script src="{%  static 'js/bootstrap.min.js' %}"></script>
  <script src="{%  static 'js/uikit.min.js' %}"></script>
  <script src="{%  static 'js/uikit-icons.min.js' %}"></script>

</body>
</html>
{% endwith %}
