{% extends 'base.html' %}
{% load static %}
{% block body %}
<!--carousel slider-->
<div id="showcase" class="bg-dark">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-slide-to="0" data-target="#myCarousel" class="active"></li>
      <li data-slide-to="1" data-target="#myCarousel"></li>
      <li data-slide-to="2" data-target="#myCarousel"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-img-1 active">
        <div class="container">
          <div class="carousel-caption mb-5 pb-5">
            <h2 class="display-4"></h2>
            <p class="lead"></p>
            <a href="#" class="btn btn-danger">এখনই কিনুন</a>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-img-2">
        <div class="container">
          <div class="carousel-caption mb-5 pb-5">
            <h2 class="display-4"></h2>
            <p class="lead"></p>
            <a href="#" class="btn btn-info">এখনই কিনুন</a>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-img-3">
        <div class="container">
          <div class="carousel-caption mb-5 pb-5">
            <h2 class="display-4"></h2>
            <p class="lead"></p>
            <a href="#" class="btn btn-primary">এখনই কিনুন</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
   <span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
   <span class="carousel-control-next-icon" aria-hidden="true"></span>
   <span class="sr-only">Next</span>
   </a>
</div>
<!---side item-->
<div id="nev-item" class="pt-3 pb-3 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 m-right">
        <h4>বিনামূল্যে পরিবহন</h4>
        <p>শর্ত প্রযোজ্য</p>
      </div>
      <div class="col-md-4 m-right">
        <h4>আমাদের যে কোন সময় কল করুন</h4>
        <p class="mb-auto">+8801812977112</p>
        <p>+8801817356354</p>
      </div>
      <div class="col-md-4">
        <h4>আমাদের অবস্থান</h4>
        <p>ফেনী সদর ফেনী</p>
      </div>
    </div>
  </div>
</div>

<div class="container pt-5 my-auto">
  <div class="row">
    <h3 class="">সমস্ত পণ্য</h3>
  </div>
  <div class=row>
    <div class="underline"></div>
  </div>
</div>

<!------product---->

<!-----------shirt------>

<div class="container pt-5">
  <div class="row">
    <h3>শার্ট</h3>
  </div>
  <div class=row>
    <div class="underline"></div>
  </div>
</div>
<!------product------>
<div id="product-h" class="container mt-5 pt-5 text-center">
  <div class="row">
{% for p in shirt %}
    <div class="col-md-3">
      <div class="card">
      <a href="{% url 'shirt_single' pk=p.pk %}"> <img src="{{ p.picture.url }}" class="img-fluid" alt="">
        <div class="card-body">
          <h5>{{ p.title }}({{ p.product_code }})</h5>
            
          <h6>৳{{ p.price }}</h6>
          <button class="btn btn-danger"><i class="fa fa-cart-plus"></i></button>
        </div>
        </a>
      </div>
    </div>
{% endfor %}
 
 
  </div>
</div>




<!----pant--------->

<div class="container pt-5">
  <div class="row">
    <h3>প্যান্ট</h3>
  </div>
  <div class=row>
    <div class="underline"></div>
  </div>
</div>

<!-----product pant--------->
<div id="product-h" class="container mt-5 pt-5 text-center">
  <div class="row">
    
     {% for p in pant %}
    <div class="col-md-3">
      <div class="card">
      <a href="{% url 'pant_single' pk=p.pk %}"> <img src="{{ p.picture.url }}" class="img-fluid" alt="">
        <div class="card-body">
          <h5>{{ p.title }}({{ p.product_code }})</h5>
            
          <h6>৳{{ p.price }}</h6>
          <button class="btn btn-danger"><i class="fa fa-cart-plus"></i></button>
        </div>
        </a>
      </div>
    </div>
{% endfor %}
      
  </div>
</div>

<!---------tshirt------------>

<div class="container pt-5">
  <div class="row">
    <h3>টি-শার্ট</h3>
  </div>
  <div class=row>
    <div class="underline"></div>
  </div>
</div>
<!------product tshirt-------->
<div id="product-h" class="container mt-5 pt-5 text-center">
  <div class="row">
    
   {% for p in t_shirt %}
    <div class="col-md-3">
      <div class="card">
      <a href="{% url 't_shirt_single' pk=p.pk %}"> <img src="{{ p.picture.url }}" class="img-fluid" alt="">
        <div class="card-body">
          <h5>{{ p.title }}({{ p.product_code }})</h5>
            
          <h6>৳{{ p.price }}</h6>
          <button class="btn btn-danger"><i class="fa fa-cart-plus"></i></button>
        </div>
        </a>
      </div>
    </div>
{% endfor %}
      
  </div>
</div>


<!-----panjabi---------->

<div class="container pt-5">
  <div class="row">
    <h3>পাঞ্জাবি</h3>
  </div>
  <div class=row>
    <div class="underline"></div>
  </div>
</div>
<!--------product panjabi------>
<div id="product-h" class="container mt-5 pt-5 text-center">
  <div class="row">
     
 {% for p in panjabi %}
    <div class="col-md-3">
      <div class="card">
      <a href="{% url 'panjabi_single' pk=p.pk %}"> <img src="{{ p.picture.url }}" class="img-fluid" alt="">
        <div class="card-body">
          <h5>{{ p.title }}({{ p.product_code }})</h5>
            
          <h6>৳{{ p.price }}</h6>
          <button class="btn btn-danger"><i class="fa fa-cart-plus"></i></button>
        </div>
        </a>
      </div>
    </div>
{% endfor %}
      
  </div>
</div>


<!-------girls item------->
<div class="container pt-5">
  <div class="row">
    <h3>গার্লস কালেকশন</h3>
  </div>
  <div class=row>
    <div class="underline"></div>
  </div>
</div>
<!---------product girls---->
<div id="product-h" class="container mt-5 pt-5 text-center">
  <div class="row">
    
 {% for p in girls %}
    <div class="col-md-3">
      <div class="card">
      <a href="{% url 'girls_single' pk=p.pk %}"> <img src="{{ p.picture.url }}" class="img-fluid" alt="">
        <div class="card-body">
          <h5>{{ p.title }}({{ p.product_code }})</h5>
            
          <h6>৳{{ p.price }}</h6>
          <button class="btn btn-danger"><i class="fa fa-cart-plus"></i></button>
        </div>
        </a>
      </div>
    </div>
{% endfor %}
  </div>
</div>


<div class="container pt-5">
  <div class="row">
    <h3>উপহার কালেকশন</h3>
  </div>
  <div class=row>
    <div class="underline"></div>
  </div>
</div>
<!---------product girls---->
<div id="product-h" class="container mt-5 pt-5 text-center">
  <div class="row">
    
 {% for p in gift %}
    <div class="col-md-3">
      <div class="card">
      <a href="{% url 'gift_single' pk=p.pk %}"> <img src="{{ p.picture.url }}" class="img-fluid" alt="">
        <div class="card-body">
          <h5>{{ p.title }}({{ p.product_code }})</h5>
            
          <h6>৳{{ p.price }}</h6>
          <button class="btn btn-danger"><i class="fa fa-cart-plus"></i></button>
        </div>
        </a>
      </div>
    </div>
{% endfor %}
  </div>
</div>


<!-----photo gallery----->
<div  uk-lightbox id="gallery" class="py-5 margin-top-none">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h2>ফটো গ্যালারি</h2>
        <p class="lead">বিভিন্ন ধরনের পণ্য</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="{% static 'img/img3.jpg' %}">
          <img src="{% static 'img/img3.jpg' %}" class="img-fluid" alt="">
        </a>
      </div>
      <div class="col-md-4">
        <a href="{% static 'img/img9.jpg' %}">
          <img src="{% static 'img/img9.jpg' %}" class="img-fluid" alt="">
        </a>
      </div>
      <div class="col-md-4">
        <a href="{% static 'img/img10.jpg' %}">
          <img src="{% static 'img/img10.jpg' %}" class="img-fluid" alt="">
        </a>
      </div>
    </div>
    <div class="row py-0 mt-2">
      <div class="col-md-4">
        <a href="{% static 'img/shari.jpg' %}">
          <img src="{% static 'img/shari.jpg' %}" class="img-fluid" alt="">
        </a>
      </div>
      <div class="col-md-4">
        <a href="{% static 'img/shirt2.jpg' %}">
          <img src="{% static 'img/shirt2.jpg' %}" class="img-fluid" alt="">
        </a>
      </div>
      <div class="col-md-4">
        <a href="{% static 'img/shirt5.jpg' %}">
          <img src="{% static 'img/shirt5.jpg' %}" class="img-fluid" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
<!------website features-------->
<div id="website-features">
  <div class="container">
    <div class="row">
      <div class="col-md-3 feature-box">
        <img src="{% static 'img/img10.jpg' %}" alt="">
        <div class="feature-text">
          <p><b>100% original items</b>are available at conpany</p>
        </div>
      </div>
      <div class="col-md-3 feature-box">
        <img src="{% static 'img/img10.jpg' %}" alt="">
        <div class="feature-text">
          <p><b>return within 30 days</b>of recieving your order.</p>
        </div>
      </div>

      <div class="col-md-3 feature-box">
        <img src="{% static 'img/img10.jpg' %}" alt="">
        <div class="feature-text">
          <p><b>Get free delivery for every</b>order on more than price</p>
        </div>
      </div>

      <div class="col-md-3 feature-box">
        <img src="{% static 'img/img10.jpg' %}" alt="">
        <div class="feature-text">
          <p><b>pay online through multiple</b>payment option (card/net banking)</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
