body {
  background-color: #fff;
  margin-top: 60px; }

.navbar {
  height: 85px;
  z-index: 1000;
  background: #38618d !important; }
  .navbar .item {
    font-size: 22px; }
    .navbar .item a {
      color: white; }
    .navbar .item .nav-link:hover {
      color: #3292a6; }

/*-----form-form--------*/
#form-form {
  padding: 0%;
  margin: 0%; }
  #form-form .container ul {
    margin-top: 20px; }
  #form-form a {
    padding: 8px 75px;
    color: primary !important;
    font-family: 'franklin gothic medium','arial narrow',arial,sans-sarif; }
  #form-form .innerContent {
    margin: 5% 1%;
    border: 1px solid black;
    border-radius: 3px; }

/*---------------*/
#product-h img {
  width: 250px;
  height: 200px; }

/*---------carousel slider--------*/
#showcase ol li {
  width: 15px;
  height: 15px;
  border-radius: 100%; }

.carousel-item {
  height: 450px; }

.carousel-img-1 {
  background: url("../img/img30.jpg") no-repeat;
  background-size: cover;
  min-height: 450px; }

.carousel-img-2 {
  background: url("../img/img13.jpg");
  background-size: cover; }

.carousel-img-3 {
  background: url("../img/img22.jpg");
  background-size: cover;
  min-height: 450px; }

/*------------nev-item--------*/
#nev-item {
  background-color: orange; }
  #nev-item .m-right {
    border-right: 2px solid white; }

.underline {
  width: 150px;
  height: 3px;
  background-color: orangered; }

#gallery img {
  width: 335px;
  height: 245px; }

/*-----------website feature------------*/
#website-features {
  margin: 60px 0; }
  #website-features img {
    width: 20%; }
  #website-features .feature-text {
    float: right;
    width: 80%;
    padding-left: 20px; }
  #website-features .feature-box {
    margin-top: 20px; }

/*--------footer-----------*/
#footer {
  background: #000;
  color: #fff; }
  #footer .footer-img {
    width: 100px;
    height: 100px; }
  #footer hr {
    margin-top: 10px;
    background-color: #ccc; }
  #footer .copyright {
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px; }
  #footer .fa-heart-o {
    color: red;
    font-size: 20px; }

/*----index1---*/
#single-product {
  /*------media--------*/ }
  #single-product .new-arrival {
    background: green;
    width: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px; }
  #single-product .price {
    color: orange;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px; }
  #single-product input {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px; }

@media (max-width: 576px) {
  .navbar h3 {
    font-size: 1rem; }
  .navbar ul {
    background-color: #897a7a;
    padding: 15px;
    border: 1px solid green; }
  #showcase h2 {
    margin-bottom: 2px;
    font-size: 2rem; }
  #showcase p {
    margin-bottom: -20px; }
  #home-video h2 {
    font-size: 1rem; } }
